* {
  background-color: #5a5454;
}

$primary: #b13f3f;
$secondary: #212121;
$third: #3e3e3e;

.mid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
}

.wraper {
  width: 1200px;
}

.content {
  .wraper {
    box-shadow: 0 0 3px 3px black;
    background: $third;

    // header
    .header {
      .thuancute {
        background: $secondary;
        width: 100%;
        height: 50px;
        .left {
          margin-left: 10px;
          a {
            font-size: 16px;
            color: white;
            opacity: 0.9;
            background-color: $secondary;
            transition: all 0.2s ease-in;
            &:hover {
              opacity: 1;
            }

            span {
              padding: 4px 10px;
              background-color: $primary;
              border-radius: 2px;
              border: 2px solid white;
            }
          }
        }

        .right {
          color: white;
          margin-right: 10px;
          background-color: $secondary;
          p {
            margin-right: 10px;
            background-color: $secondary;
          }
          i {
            cursor: pointer;
          }
        }
      }
    }

    // menu
    .menu {
      margin-top: 10px;
      .thuancute {
        background-color: $third;
        height: 30px;
        width: 100%;

        .left {
          margin-left: 10px;
          form {
            position: relative;
            input {
              width: 250px;
              padding: 4px 10px;
              color: white;
            }
            i {
              position: absolute;
              right: 10px;
              top: 50%;
              color: $third;
              transform: translateY(-50%);
            }
          }
        }
        .mid-menu {
          flex-basis: 69%;
          height: 100%;
          background-color: $secondary;
        }
      }
    }

    // table admin
    .table {
      margin-bottom: 0;
      background-color: transparent;
      .thuancute {
        width: 1200px;
        background-color: transparent;
        margin-top: 15px;
        table {
          margin-bottom: 0;
          width: 100%;
          text-align: center;
          background-color: transparent;
          thead {
            tr {
              th {
                background-color: $secondary;
                color: $primary;
                font-weight: bolder;
                font-size: 18px;
              }
            }
          }
        }
      }
    }

    .footer {
      background-color: $secondary;
      padding: 15px 0;
      .thuancute {
        margin: 0 10px;
        background-color: $secondary;
        align-items: unset;
        .left {
          background-color: $secondary;
          h3 {
            text-transform: uppercase;
            color: #feca57;
            padding-bottom: 5px;
            background-color: $secondary;

            border-bottom: 0.5px solid #ccc;
          }

          ul {
            margin-top: 15px;
            li {
              padding: 5px 10px;
              background-color: $secondary;
              width: 800px;
              transition: all 0.3s ease-in;
              cursor: pointer;
              &:hover {
                background-color: $third;
              }
              a {
                width: 700px;

                background-color: transparent;
                color: white;
                transition: all 0.3s ease-in;
              }
            }
          }
        }

        .right {
          background-color: $secondary;

          h3 {
            text-transform: uppercase;
            color: #feca57;
            padding-bottom: 5px;
            background-color: $secondary;

            border-bottom: 0.5px solid #ccc;
          }
          ul {
            margin-top: 15px;
            li {
              padding: 10px;
              background-color: $secondary;

              a {
                background-color: $secondary;
                color: white;
                border-bottom: 1px solid #ccc;
                transition: all 0.3s ease-in;
                &:hover {
                  border-bottom: 1px solid $third;
                }
                i {
                  background-color: transparent;
                }
              }
            }
          }
        }
      }
    }
  }
}
